{% extends "layouts/auth.html" %}
{% load i18n %}

{% block title %}{% translate "Code de sécurité - Réinitialisation" %} - CS² Health{% endblock title %}

{% block auth_hero %}
  {% include "components/organisms/auth-hero.html" with logo_url="/" %}
{% endblock auth_hero %}

{% block auth_content %}
  {% include "components/organisms/otp-form.html" with form=form back_url="/users/forgot-password/" back_text="Demander un nouveau code" title="Code de réinitialisation" subtitle="Saisissez le code OTP à 6 chiffres pour autoriser la modification de votre mot de passe." %}
{% endblock auth_content %}

