{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'fr' }}" class="h-full bg-white">
<head>
  {% include "base/_meta.html" %}
  <title>{% block title %}CS² Health - SantéGeste{% endblock title %}</title>
  {% include "base/_head.html" %}
  {% block css %}{% endblock css %}
</head>
<body class="h-full font-sans antialiased text-neutral-800 selection:bg-health-500 selection:text-white no-scrollbar">
  {% block content %}{% endblock content %}

  {% include "base/_scripts.html" %}
  {% block javascript %}{% endblock javascript %}
</body>
</html>
