{# Molecule: Brand Lockup (SantéGeste Official Logo) #}
{# Props: class, custom_classes, size (sm|md|lg) #}
{% load i18n static %}
{% with logo_size=size|default:"md" %}
<div class="flex items-center justify-center select-none {{ class|default:'' }} {{ custom_classes|default:'' }}">
  <img src="{% static 'images/logo_full.png' %}" alt="SantéGeste - Gestion de centre de santé" class="object-contain {% if logo_size == 'sm' %}h-9{% elif logo_size == 'lg' %}h-14{% else %}h-11{% endif %} w-auto">
</div>
{% endwith %}
